header {
    background-color: white;
    font-size: 5vw;
    text-decoration: none;
    padding: 3vw 3vw 0vw 3vw;
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    font-style: italic;
    margin-right: 2vw;
  }

  header img {
    width: 10vw;
  }

  header nav {
    display: flex;
    justify-content: end;
  }
  header a {
    text-decoration: none;
    color: black;
    padding: 0% 2%;
  }

  .leftHeaderDiv {
    display: flex;
  }
