header {
    background-color: white;
    font-size: 5vw;
    text-decoration: none;
    padding: 2vw 2vw 0vw 2vw;
    justify-content: space-between;
    border-bottom: 2px solid #787c7f;
    position: sticky;
    top: 0;
  }

  header h1 {
    font-style: italic;
    margin: 0vw 3vw 0vw 0vw;
    text-decoration: underline;
  }

  header img {
    width: 10vw;
  }

  header a {
    text-decoration: none;
    color: black;
    padding: 0% 2%;
  }

  .leftHeaderDiv {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
  }

  .navButtonContainer {
    display: flex;
    justify-content: space-between;
  }

  .logRegButtonContainerLog {
    display: flex;
    justify-content: flex-end;
  }

  .logRegButtonContainerReg {
    display: flex;
    justify-content: flex-end;
  }

  .logRegButtonContainerLog a:first-child {
    text-decoration: underline;
  }

  .logRegButtonContainerReg a:last-child {
    
    text-decoration: underline;
  }

  .titleContainerLogos {
    width: 65%;
}

.titleContainerLogos img {
    width: 100%;
}