header {
    background-color: white;
    font-size: 5vw;
    text-decoration: none;
    padding: 2vw 2vw 0vw 2vw;
    justify-content: space-between;
  }

  header h1 {
    font-style: italic;
    margin: 0vw 3vw 0vw 0vw;
    text-decoration: underline;
  }

  header img {
    width: 10vw;
  }

  header a {
    text-decoration: none;
    color: black;
    padding: 0% 2%;
  }

  .leftHeaderDiv {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
  }

  .navButtonContainer {
    display: flex;
    justify-content: space-between;
  }

  .logRegButtonContainer {
    display: flex;
    justify-content: flex-end;
  }
