.homeContainer {
    width: 1fr;
}

.homeContainer h3 {
    font-size: 5vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2 {
    margin: 3vw;
    font-size: 7vw;
}

.menuButtonContainer {
    margin: 0vw auto 2vw auto;
    text-align: center;
}

button {
    border-radius: 10px;
}

.menuButtonContainer button {
    display:block;
    width: 94vw;
    height: 15vw;
    margin: 2vw auto;
    font-size: 6vw;
    border: 3px solid black;
}

.menuButtonContainer div {
    width: 94vw;
    display: inline-flex;
    justify-content: space-between; 
    margin: 0vw;
}

.menuButtonContainer div button {
    display: inline-flex;
    justify-content: center;
    width: 50vw;
    align-items: center;
}

.sideButtonDiv :last-child{
    margin: 0 0 0 1.5vw;
}

.sideButtonDiv :first-child {
    margin: 0 1.5vw 0 0;
}

.myScoreContainer {
    margin-left: calc(3vw - 2px);
    margin-right: calc(3vw - 2px);
    display: block;
    width: 94vw;
    margin: 0vw 3vw 3vw 3vw;
    /*border: 3px solid black;
    border-radius: 10px;
    padding-top: 2vw;*/
    padding-bottom: 1vw;
    margin-bottom: 0px;
}