.homeContainer {
    width: 1fr;
}

.homeContainer h3 {
    font-size: 5vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2 {
    margin: 3vw;
    font-size: 7vw;
}

.menuButtonContainer {
    margin: 4vw auto;
    text-align: center;
}

button {
    border-radius: 10px;
}

.menuButtonContainer button {
    display:block;
    width: 94vw;
    height: 15vh;
    margin: 3vw auto;
    font-size: 8vw;
    border: 3px solid black;
}

.menuButtonContainer div {
    width: 94vw;
    display: inline-flex;
    justify-content: space-between; 
}

.menuButtonContainer div button {
    display: inline-flex;
    justify-content: center;
    width: 50vw;
    align-items: center;
}

.sideButtonDiv :last-child{
    margin: 0 0 0 1.5vw;
}

.sideButtonDiv :first-child {
    margin: 0 1.5vw 0 0;
}

table, th, td {
    border: 1px solid;
    border-color: black;
  }

table {
    margin: 2vw 3vw 3vw 3vw;
    width: 94vw;
    /*border-collapse: collapse;*/
    font-size: 5vw;
    text-align: center;
    border-radius: 10px;
}

th, td {
    padding: 1vw;
}

th {
    text-align: left;
    width: 16vw;
}

.scores td{
    color: darkgrey;
}

@supports (-webkit-text-stroke: 3px black) {
    .scores td {
      -webkit-text-fill-color: yellow;
      -webkit-text-stroke: 1px black;
    }
  }

.scores :first-child {
    border-bottom-left-radius: 10px;
}

.days :last-child {
    border-top-right-radius: 10px;
}

.days :first-child {
    border-top-left-radius: 10px;
}

.scores :last-child {
    border-bottom-right-radius: 10px;
}

table tr td {
    min-width: calc(8vw + 2vw);
}