.lobbyInputContainer {
    width: 94vw;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 3vw;
    
}

.lobbyInputContainer form div label {
    width: 100%;
    display: block;
}

.lobbyInputContainer form div {
    margin-bottom: 3vw;
    font-size: 4.5vw;
}

.lobbyInputContainer form div input {
    font-size: 4.5vw;
    width: 100%;
    border-radius: 5px;
    padding: 1vw;
}


.lobbyInputContainer div button {
    font-size: 4.5vw;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1vw;
    background-color: #787c7fff;
    color: white;
}

.lobbyInputButtonContainer {
    display: flex;
    justify-content: end;
    width: 100%;
}

.notErrorDivJoin {
    border: 2px solid black;
}

.errorDivJoin {
    border: 2px solid red;
}

.errorContainerJoin {
    width: calc(88vw - 4px);
    background-color: lightcoral;
    padding: 1vw;
    font-size: 4.5vw;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 3vw 0vw 3vw 0vw;
}

.successContainerJoin {
    width: calc(88vw - 4px);
    background-color: lightgreen;
    padding: 1vw;
    font-size: 4.5vw;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 3vw 0vw 3vw 0vw;
}