.logo {
  width: 80%;
  margin-left: 12.5%;
}

.logo img {
    width: 100%;
    display: block;
    margin: 0% auto 8% auto;
  }
  
  .loginContainer {
    width: 80%;
    top: 40%;
    left: 10%;
    border: 4px solid black;
    border-radius: 15px;
    margin: auto;
  }
  
  .loginContainer .inputTitle {
    width: 100%;
    text-align: center;
  }
  
  .loginContainer form div {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
  }
  
  .loginContainer form div:first-child {
    margin-bottom: 3%;
  }
  
  .loginContainer form input {
    width: 100%;
    font-size: 4vw;
    padding: 1.5vw;
  }
  
  .loginContainer div h1 {
    font-size: 7vw;
    margin: 3%;
  }
  
  .loginContainer div label {
    font-size: 4vw;
    display: block;
  }
  
  .buttonContainer {
    text-align: end;
    margin: 4% 5%;
  }
  
  .buttonContainer button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 4vw;
    padding: 1.5vw;
  }
  
  .buttonContainer button:active {
    background-color: #ffdb0055
  }
  
  .signupMessage {
    text-align: center;
    font-size: 4vw;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  
  .signupMessage span {
    text-decoration: underline;
  }