.outerContainer {
    display: block;
    width: 94vw;
    margin: 0vw 3vw 3vw 3vw;
    border: 2px solid black;
    border-radius: 10px;
}

.myGamesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myGamesContainer div {
    display: flex;
    align-items: center;
    margin: 4vw 0vw 4vw 0vw;
}

.myGamesContainer div:first-child {
    flex-grow: 1;
}

.myGamesContainer img {
    width: 4vw;
    height: 5vw;
    margin-left: 2vw;
    margin-right: 1vw;
}

.myGamesContainer p {
    padding: 2vw;
}

.myGamesContainer button {
    font-size: 4vw;
    padding: 2vw;
    background-color: lightcoral;
    border: 2px solid black;
    margin-right: 2vw;
    color: black;
}

h4 {
    font-size: 4.5vw;
    text-align: center;
    margin: 0;
}

.podiumOne {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
}

.podiumOne img {
    width: 15vw;
    height: 15vw;
}

.podiumOne p {
    margin-left: 2vw;
    padding: 0;
    font-size: 7vw;
}

.podiumTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
}

.podiumTwo img {
    width: 12vw;
    height: 12vw;
}

.podiumTwo p {
    margin-left: 2vw;
    padding: 0;
    font-size: 6vw;
}

.podiumThree {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
}

.podiumThree img {
    width: 10vw;
    height: 10vw;
}

.podiumThree p {
    margin-left: 2vw;
    padding: 0;
}