.logo img {
    width: 55%;
    max-height: 25%;
    display: block;
    margin: 0% auto 8% auto;
  }
  
  .signupContainer {
    width: 80%;
    top: 40%;
    left: 10%;
    border: 4px solid black;
    border-radius: 25px;
    margin: auto;
  }
  
  .signupContainer .inputTitle {
    width: 100%;
    text-align: center;
  }
  
  .signupContainer form div {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  
  .signupContainer form input {
    width: 100%;
    font-size: 4vw;
  }

  .signupContainer form {
    margin-bottom: 0;
  }
  
  .signupContainer div h1 {
    font-size: 7vw;
    margin: 3%;
  }
  
  .signupContainer div label {
    font-size: 4vw;
    display: block;
  }
  
  .buttonContainer {
    text-align: end;
    margin: 4% 5%;
  }
  
  .buttonContainer button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 4vw;
  }
  
  .buttonContainer button:active {
    background-color: #ffdb0055
  }
  
  .signupMessage {
    text-align: center;
    font-size: 4vw;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  
  .signupMessage span {
    text-decoration: underline;
  }

  .errorDiv {
    border: 1px solid red;
    border-radius: 5px;
  }

  .notErrorDiv {
    border: 1px solid black;
    border-radius: 5px;
  }

  .errorContainer {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: lightcoral;
    padding: 1vw 1vw;
    font-size: 4vw;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
  }

  .closeDiv {
    align-items: center;
  }

  .closeDiv img {
    width: 3vw;
    padding-right: 0.5vw;
  }
